div {
	position: relative;
	width: 200px;
	height: 40px;
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 40px;
	overflow: hidden;
	cursor: pointer;
}

div:before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	opacity: 0;
}

div:before {
	content: attr(data-hover);
	-webkit-transform: translate(-150%,0);
}

div:hover span {
	opacity: 0;
}

div:hover:before {
	opacity: 1;
	-webkit-transform: translate(0,0);
}